.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
   background-color: #a3ae97;

  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3{
  border-radius: 10px;
}

.time-input {
  width: 95%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #4e4242;
  border-radius: 4px;
  outline: none;
  color:black;
  
}


.button-group {
  display: flex;
  justify-content:space-evenly;
  margin-top: 20px;
 
}

.submit-button {
  padding: 10px 20px;
  background-color: #3caf40;
  color: rgb(16, 14, 14);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
}

.submit-button:hover {
  background-color: #45a049;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #d80e00;
  color: rgb(16, 14, 14);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
}

.cancel-button:hover {
  background-color: #be1f1c;
}

